.toggle{
    position: relative;
    display: flex;
    justify-content: center;    
    align-items: center;
    width: calc(2.4vw + 10px);
    height: calc(2.4vw + 10px);
    svg{
        width: 60%;
        height: 60%;
        animation: identifier 2s infinite ease-in-out;
        color: var(--font-color);
        z-index: 1000;
        cursor: pointer;
    }
    .pannel{
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: var(--font-color);
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 999;
        transition: all 1s;
    }
    @keyframes identifier {
        0%{
            transform: rotate(20deg);
        }
        33.3%{
            transform: rotate(50deg);
        }
        66.6%{
            transform: rotate(-50deg);
        }
        100%{
            transform: rotate(20deg);
        }
    }
}