
.header {

}

.toggle_checkbox {
  display: none;
}
.toggle_checkbox:checked {
}
.toggle_checkbox:checked ~ .background {
  background: var(--indigo-background);
}
.toggle_checkbox:checked + .toggle_label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
}
.toggle_checkbox:checked + .toggle_label .toggle_label-background {
  left: 6rem;
  width: .5rem;
}
.toggle_checkbox:checked + .toggle_label .toggle_label-background:before {
  width: .5rem;
  height: .5rem;
  top: -2.5rem;
}
.toggle_checkbox:checked + .toggle_label .toggle_label-background:after {
  width: .5rem;
  height: .5rem;
  left: -3rem;
  top: 2rem;
}
.toggle_checkbox:checked + .toggle_label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
.toggle_checkbox:checked + .toggle_label:after {
  transition-delay: 350ms;
  opacity: 1;
}
.toggle_label {
  width: 20rem;
  height: 10rem;
  background: var(--blue-color);
  border-radius: 10rem;
  border: 5px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  transform: scale(.3);
  cursor: pointer;
}
.toggle_label-background {
  width: 1rem;
  height: .5rem;
  border-radius: .5rem;
  position: relative;
  background: var(--white);
  left: 13.5rem;
  top: 4.5rem;
  transition: all 150ms ease-in;
}
.toggle_label-background:before {
  content: "";
  position: absolute;
  top: -.5rem;
  width: 4rem;
  height: .5rem;
  border-radius: .5rem;
  background: var(--white);
  left: -2rem;
  transition: all 150ms ease-in;
}
.toggle_label-background:after {
  content: "";
  position: absolute;
  top: .5rem;
  width: 4rem;
  height: .5rem;
  border-radius: .5rem;
  background: var(--white);
  left: -1rem;
  transition: all 150ms ease-in;
}
.toggle_label:before {
  content: "";
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  width: 8rem;
  height: 8rem;
  border: 5px solid var(--yellow-border);
  top: .4rem;
  left: .4rem;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
}
.toggle_label:after {
  content: "";
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -2.4rem 1.4rem 0 -2px;
  left: 16rem;
  top: 2.3rem;
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
}

@keyframes switch {
  0% {
    left: .4rem;
  }
  60% {
    left: .4rem;
    width: 11.2rem;
  }
  100% {
    left: 10.4rem;
    width: 8.2rem;
  }
}
@keyframes reverse {
  0% {
    left: 10.4rem;
    width: 8.2rem;
  }
  60% {
    left: 7.2rem;
    width: 11.2rem;
  }
  100% {
    left: .4rem;
  }
}