@import 'common/dot.scss';

@font-face {
  font-family: "am";
  src: url(font/amNaver.woff) format("woff");
}

// calc(2.4vw + 10px);

body{
  .header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(3vw + 10px);;
    background-color: var(--background-color);
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 2px var(--background-color);
    transition: all 1.2s;
    .innerHeader{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 100%;
      a{
        color: var(--font-color);
        text-decoration: none;
        font-family: am;
        font-size: calc(2vw + 12px);
        padding-bottom: calc(.14vw + 2px);
      }
      .nav{
        ul{
          display: flex;
          justify-content: center;
          align-items: center;
          li{
            margin: 0px calc(.6vw + 6px);
            a{
              font-size: calc(1.6vw + 8px);
              transition: all .3s;
              &:hover{
                // font-size: calc(1.2vw + 8px);
              }
            }
          }
        }
      }
      
    }
  }
}
.main{
  position: relative;
  width: 100%;
  height: 100%;
}